<div class="controls">
  <% territory_select_options = options_for_select(@game.territories.pluck(:name)) %>

  <% if @turn.can_attack? %>
    <%= form_for [@game, Event.attack.new] do |f| %>
      <div class="content">
        <%= f.hidden_field :event_type %>
        Attack with <%= number_field_tag :units, "" %> units
        from <%= select_tag :from, territory_select_options %>
        to <%= select_tag :to, territory_select_options %>
        <%= f.submit "Attack" %>
      </div>
    <% end %>
  <% end %>

  <% if @turn.can_fortify? %>
    <%= form_for [@game, Event.fortify.new] do |f| %>
      <div class="content">
        <%= f.hidden_field :event_type %>
        Move <%= number_field_tag :units, "" %> units
        from <%= select_tag :from, territory_select_options %>
        to <%= select_tag :to, territory_select_options %>
        <%= f.submit "Fortify" %>
      </div>
    <% end %>
  <% end %>

  <% if @turn.can_reinforce? %>
    <%= form_for [@game, Event.reinforce.new] do |f| %>
      <div class="content">
        <div><%= @turn.reinforcements.remaining_units %> reinforcements available.</div>
        <%= f.hidden_field :event_type %>
        Place <%= number_field_tag :units, "" %> units
        on <%= select_tag :to, territory_select_options %>
        <%= f.submit "Reinforce" %>
      </div>
    <% end %>
  <% end %>

  <%= form_for [@game, Event.start_turn.new] do |f| %>
    <%= f.hidden_field :event_type %>
    <%= f.submit "End turn" %>
  <% end %>
</div>
