<div class="controls">
  <% if @turn.can_attack? %>
    <%= form_for [@game, Event.attack] do |f| %>
      <div class="content">
        <%= f.hidden_field :event_type %>
        Attack <%= text_field_tag :units, "" %> units
        from <%= text_field_tag :from, "" %>
        to <%= text_field_tag :to %>
        <%= f.submit "Attack" %>
      </div>
    <% end %>
  <% end %>

  <% if @turn.can_fortify? %>
    <%= form_for [@game, Event.fortify] do |f| %>
      <div class="content">
        <%= f.hidden_field :event_type %>
        Move <%= text_field_tag :units, "" %> units
        from <%= text_field_tag :from, "" %>
        to <%= text_field_tag :to %>
        <%= f.submit "Fortify" %>
      </div>
    <% end %>
  <% end %>

  <% if @turn.can_reinforce?(1) %>
    <%= form_for [@game, Event.reinforce] do |f| %>
      <div class="content">
        <div><%= @turn.reinforcements.remaining_units %> reinforcements available.</div>
        <%= f.hidden_field :event_type %>
        Place <%= text_field_tag :units, "" %> units
        on <%= text_field_tag :to %>
        <%= f.submit "Reinforce" %>
      </div>
    <% end %>
  <% end %>

  <%= form_for [@game, Event.start_turn] do |f| %>
    <%= f.hidden_field :event_type %>
    <%= f.submit "End turn" %>
  <% end %>
</div>
