<% owned_territories = @turn.game_state.owned_territories(@turn.player).map(&:name) %>

<p><%= event.action.units %> reinforcements available.</p>

<%= form_for [@game, event] do |f| %>
  <%= f.hidden_field :event_type %>
  Place <%= number_field_tag :units, "" %> units
  on <%= select_tag :to, options_for_select(owned_territories) %>
  <%= button_tag type: "submit", class: "icon-button" do %>
    <span class="icon reinforce"></span> Reinforce
  <% end %>
<% end %>
