<div id="game-display">
  <%= map_display(@turn) %>

  <% if @game_state.won? %>
    <div class="message" style="background-color: <%= player_color(@game.players, @game_state.winning_player) %>">
      <%= @game_state.winning_player.name %> won the game!
    </div>
  <% else %>
    <%= render "player_display" %>

    <div class="controls">
      <% @allowed_events.each do |event| %>
        <%= render "form_#{event.event_type}", event: event %>
      <% end %>
    </div>
  <% end %>

  <%= render "dice_display" %>
</div>
