<h1>Game <%= @game.id %></h1>

<svg class="map-display" width="450" height="350">
  <g transform="translate(50,50)">
    <% @game_state.territory_links.each do |(from_territory, to_territory)| %>
      <line class="link" x1="<%= from_territory.x %>" x2="<%= to_territory.x %>"
         y1="<%= from_territory.y %>" y2="<%= to_territory.y %>" />
    <% end %>
    <% @game.territories.each.with_index do |territory, index| %>
      <g class="node" transform="translate(<%= territory.x %>,<%= territory.y %>)">
        <circle r="30" fill="<%= @game_state.player_color(@game_state.territory_owner(territory)) %>" />
        <text text-anchor="middle" dy="-4px"><%= "t#{index}" %></text>
        <text text-anchor="middle" dy="10px"><%= @game_state.units_on_territory(territory) %> unit(s)</text>
      </g>
    <% end %>
  </g>
</svg>

<div class="player-display">
  <% @game.players.each do |player| %>
    <div>
      <span class="player-icon"
        style="background-color: <%= @game_state.player_color(player) %>"></span>
      <% if @game_state.current_player == player %>
        *
      <% end %>
      <%= player.name %>
    </div>
  <% end %>
</div>

<div class="controls">
  <%= form_tag event_game_path do %>
    <%= hidden_field_tag :type, "attack" %>
    t <%= text_field_tag :from, "", autofocus: true %> =>
    t <%= text_field_tag :to %>
    <%= submit_tag "Attack" %>
  <% end %>

  <%= form_tag event_game_path do %>
    <%= hidden_field_tag :type, "fortify" %>
    t <%= text_field_tag :from, "", autofocus: true %> =>
    t <%= text_field_tag :to %>
    <%= submit_tag "Fortify" %>
  <% end %>

  <%= form_tag event_game_path do %>
    <%= hidden_field_tag :type, "reinforce" %>
    <%= text_field_tag :count, "", autofocus: true %> units =>
    t <%= text_field_tag :to %>
    <%= submit_tag "Reinforce" %>
  <% end %>

  <%= form_tag end_turn_game_path do %>
    <%= submit_tag "End turn" %>
  <% end %>
</div>
