<h1>Game <%= @game.id %></h1>

<%= render "map_display" %>

<% if @turn.game_state.won? %>
  <div><%= @turn.game_state.winning_player.name %> won the game!</div>
<% else %>
  <%= render "player_display" %>
  <%= render "controls" %>
<% end %>
