<!DOCTYPE html>
<html>
<head>
  <title>Risk</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="messages">
      <% if flash.alert %>
        <% flash.alert.each do |error| %>
          <div class="error"><%= t(error) %></div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
